<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
      <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </Console>

        <File name="FILE" fileName="${basePath}/logger.txt" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

    <JDBC name="DB" tableName="logging">
        <connectionSource class="net.example.db.ConnectionFactory" method="getDatabaseConnection">
        </connectionSource>
        <Column name="LVL" pattern="%-5p"/>
        <Column name="TIME_DATE" pattern="%d{yyyy-MM-dd HH:mm:ss}"/>
        <Column name="METOD_NAME" pattern="[%t]"/>
        <Column name="CLASS_NAME" pattern="%C"/>
        <Column name="INSTRING" pattern="(%F:%L)"/>
        <Column name="MSG" pattern="%m%n"/>
    </JDBC>
    </Appenders>

    <Loggers>
        <Logger name="arr" level="debug" />
        <Root level="info">
               <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
            <AppenderRef ref="DB" />
        </Root>
    </Loggers>
</Configuration>